* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  border: 1px solid blue;
  height: 50vh;
  display: flex;
  gap: 10px;
  padding: 10px;
  /* flex-wrap: wrap; */
}
.box {
  width: 50%;
  height: 100%;
}
.first {
  border: 2px solid black;
}
.second {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 10px;
}
.second-first {
  width: 100%;
  height: 50%;
  border: 1px solid red;
}
.second-second {
  width: 100%;
  height: 50%;
  border: 1px solid green;
}
