* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  position: relative;
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(239, 107, 13);
  box-shadow: 0px 0px 10px 5px yellow;
  animation-name: surya;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  position: absolute;
}

@keyframes surya {
  0% {
    top: 50%;
    left: 0%;
  }
  10% {
    top: 40%;
    left: 10%;
  }
  20% {
    top: 30%;
    left: 15%;
  }
  30% {
    top: 20%;
    left: 20%;
  }
  40% {
    top: 10%;
    left: 25%;
  }
  50% {
    top: 0%;
    left: 30%;
  }
  60% {
    top: 10%;
    left: 40%;
  }
  70% {
    top: 20%;
    left: 50%;
  }
  80% {
    top: 30%;
    left: 60%;
  }
  90% {
    top: 40%;
    left: 70%;
  }
  100% {
    top: 50%;
    left: 80%;
  }
}
