h2 {
  background-color: orange;
  position: relative;
  /* left: 60px; */
  /* right: */
  /* top: 250px; */
  /* bottom: 65px; */
}
h3 {
  background-color: pink;
  position: fixed;
  top: 0px;
}
body {
  height: 200vh;
}

h4 {
  background-color: maroon;
  position: sticky;
  top: 50px;
}

p {
  background-color: bisque;
  position: absolute;
  left: 50px;
}
