h1 {
  background: orange;
  /* height: 300px; */
  width: 300px;
  /* 
  border-width: 5px;
  border-style: solid;
  border-color: green; */
  padding: 150px;
  /* border-top: 10px solid black; */
  /* border-right: 10px solid black; */
  /* border-left: 10px solid black; */
  border-bottom: 10px solid black;
}

h2 {
  background-color: pink;
  border: 2px solid blue;
  margin: 50px;
  /* display:inline */
}

.circle{
    background-color: blue;
    height:50px;
    width:50px;
    border-radius: 50%;
}