* {
  width: 0;
  height: 0;
}
#container {
  width: 400px;
  height: 300px;
  background-color: red;
  position: relative;
}

#blue {
  height: 150px;
  width: 400px;
  background-color: rgb(1, 1, 95);
  z-index: 10;
  position: absolute;
  top: 75px;
}
#circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: white;
  position:relative;
  top:25px;
  left:150px;
}
